doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body  
        header 
                h1 Video Conferencing App
        main
            form#name
                input(type="text", placeholder="Choose a nick name",required)
                button send
            ul
            form#message
                input(type="text", placeholder="write a message here", required)
                button Send

            h1 It works
            button Hello